package.json
package-lock.json
dist
server/**
e2e/**
karma.conf.js
src/app/demo/**
src/app/pages/**
src/app/*.ts
src/app/*.html
src/environments/*.ts
src/*.ts
documentation
resources

src/app/certi-app/features/MDs/ToDelete/**
src/app/lib/**
ng-package.json
public-api.ts

tsconfig.lib.json
tsconfig.lib.prod.json

tsconfig.doc.json
tsconfig.app.json
tsconfig.json

tsconfig.spec.json
tslint.json
angular.json
commitlint.config.js
e2e/**
.angular/*

cypress/results
