<div class="auth-area">
  <mat-accordion>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="panel-title">
            <h4>Login</h4>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <form>
          <mat-form-field>
            <mat-label>Sua Empresa</mat-label>
            <input matInput #loginInput placeholder="Ex. tenant" value="">
          </mat-form-field>
          <button mat-raised-button type="button" (click)="login(loginInput)" color="primary">Login</button>
        </form>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="panel-title">
            <h4>Cadastro</h4>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <form>
          <mat-form-field>
            <mat-label>Nome da Sua Empresa</mat-label>
            <input matInput #registerInput placeholder="Ex. tenant" value="">
          </mat-form-field>
          <button mat-raised-button type="button" (click)="register(registerInput)" color="primary">Criar Empresa</button>
        </form>
      </div>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>