.sub-tenants-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-tenants-section button {
  margin-bottom: 10px;
}

.new-sub-tenant form button {
  margin-left: 30px;
}

h2 {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}