<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card *ngIf="!loading">
  <mat-card-content>
    <div class="new-sub-tenant">
      <h2>{{ tenant }}</h2>

      <form>
        <mat-form-field>
          <mat-label>Nome do Sub Tenant</mat-label>
          <input matInput #subTenantInput placeholder="Ex. tenant1" value="" />
        </mat-form-field>

        <button mat-fab color="primary" type="button" (click)="createSubTenant(subTenantInput)" aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
      </form>
    </div>

    <section class="sub-tenants-section" *ngIf="subTenants.length > 0">
      <button *ngFor="let tenant of subTenants" (click)="goToSubTenantPage(tenant.id)" mat-stroked-button color="primary">{{ tenant.id }}</button>
    </section>
  </mat-card-content>
</mat-card>
